@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Russo One';
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
    background: rgb(38, 38, 38);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: greenyellow;
}

.start {
    font-size: 1.5rem;
}

h1 {
    line-height: 1.4;
    font-size: 4rem;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
    background: linear-gradient(90deg, rgb(38, 38, 38) 20%, greenyellow 450%);
}

.screen.up {
    margin-top: -100vh;
}

.time-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.time-list li {
    margin: 10px;
}

.time-button {
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: white;
    cursor: pointer;
    font-family: inherit;
    padding: .5rem 1rem;
}

.time-button:hover {
    border: 2px solid greenyellow;
    color: greenyellow;
}

.hide {
    opacity: 0;
}

.primary {
    color: greenyellow;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 500px;
    background: linear-gradient(118.38deg, rgb(38, 38, 38) -4.6%, greenyellow, 200.44);
    box-shadow: -8px -8px 10px rgb(28, 27, 27), 10px 7px 20px rgba(172, 255, 47, 0.534);
    border-radius: 30px;
    overflow: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}

.stop-game, .repeat {
    font-size: 1.5rem;   
}
